.cv-preview {
  min-width: 80%;
  margin: 4rem;
  /* padding: 1.3rem 0; */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  border: 1px solid green;
}

.personalInfo {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 0.8rem;
}

.personalInfo-group {
  margin-left: 2rem;
}
