.cv-preview {
  min-width: 80%;
  margin: 4rem;
  padding: 1.3rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  border: 1px solid green;
  background-color: #fafafa;
}

.cv-preview h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  color: #222;
}

.personalInfo {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 0.8rem;
}

.personalInfo-group {
  margin-left: 2rem;
}

.personalInfo,
.educationInfo,
.practicalExperience {
  border: 1px solid #ddd;

  padding: 12px 16px;
  margin-bottom: 12px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.personalInfo-section h3,
.educationInfo h3,
.practicalExperience h3 {
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3rem;
}
