.personalInfoForm,
.educationInfoForm,
.practicalExperienceForm,
.skillsForm {
  padding: 1rem;
  text-align: center;
}

.personalInfoForm {
  padding: 3rem 0;
}

.personalInfoForm h2,
.educationInfoForm h2,
.practicalExperienceForm h2,
.skillsForm h2 {
  margin-bottom: 1rem;
}

.personalInfoForm input,
.educationInfoForm input,
.practicalExperienceForm input {
  display: block;
  margin-bottom: 0.9rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 80%;
}

.form-group {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.form-group label {
  flex: 0 0 110px;
  margin-right: 0.3rem;
  font-weight: bold;
  text-align: left;
}

.form-group input {
  flex: 1;
}

.form-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

textarea {
  min-width: 90%;
}
