.content {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 1;
  border: 3px solid black;
}

.preview-section {
  flex: 3;
  border: 1px solid rgb(179, 14, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personalInfo-form,
.educationInfo-form,
.practicalExperience-form {
  background-color: rgb(219, 219, 219);
  padding: 0.6rem;
  border-bottom: 1px solid #292929;
}

h3 {
  margin-bottom: 0.5rem;
}

.add-btn {
  background-color: #292929;
  color: white;
  border: none;
  padding: 0.9rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  transition: background 0.2s ease;
}

.add-btn:hover {
  background-color: #6e6e6e;
}
