.content {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 1;
  border: 3px solid black;
  background-color: rgb(219, 219, 219);
}

.preview-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalInfo-form,
.educationInfo-form,
.practicalExperience-form {
  padding: 0.6rem;
  border-bottom: 1px solid #292929;
}

h3 {
  margin-bottom: 0.5rem;
}

.cv-actions {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media print {
  body * {
    visibility: hidden;
  }

  .preview-section,
  .preview-section * {
    visibility: visible;
  }

  .preview-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
